.w-box {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.list-group-item {
  background-color: rgb(216, 216, 216);
}

#aqi-box {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

body {
  font-family: "Roboto Mono", monospace;
  /* background-color: rgb(22,47,55); */
  /* background-color: rgb(253,211,172); */
  /* background-image: radial-gradient(farthest-corner at 20% 100% ,white 5%,yellow,orange,rgb(145, 9, 77),rgb(63, 45, 105)); */
}

.field {
  font-family: "Roboto Mono", monospace;
  font-size: 1.8rem;
  color: black;
  font-weight: bolder;
}
.value {
    font-size: 1.4rem;
    color: rgb(53, 53, 53);
}