
body {
  height: 100vh;
  font-family: "Roboto Mono", monospace;
  background-image: linear-gradient(
    135deg,
    var(--g1) 30%,
    var(--g2) 30%,
    var(--g2) 80%,
    var(--g3) 80%,
    var(--g3) 100%
  );
}
.w-box {
  padding: 32px;
  background-color: var(--boxColor);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#aqi-box {
  border-radius: 40px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px 5px 10px;
}
.t {
  text-align: center;
  padding: 10px;
}

#w-location {
  color: var(--locColor);
}
#w-string {
  color: var(--tempColor);
}

.field {
  text-align: center;
  color: var(--fieldColor);
  font-weight: bolder;
}
.value {
  text-align: center;
  color: var(--valueColor);
}
.mode-btn {
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  display: inline-flex;
  background-color: white;
  margin: 20px;
}

.btn-primary {
  color: var(--btnText);
  background-color: var(--btnColor);
  border-color: var(--btnBorderColor);
}
.btn-primary:hover {
  background-color: var(--btnColor);
  border-color: var(--btnBorderColor);
}
.modal-content{
  background-color:var(--modalBg);
  color: var(--fieldColor);
}

:root {
  --white: #f8f8f8;
  --brown: #301400;
  --black: #000000;
  --grey: #7e7e7e;
  --yellow: #ffd000;
  --darkBrown: #270000;
  --darkRed: #cf0000;
  --gColor1: #00007e;
  --gColor2: #eeeeee;
  --gColor3: #181b23;
  --gColor4: #966200;
  --gColor5: #4b0000;
  --orange: #f7a100;
  --primary: #007bff;
  /* --gColor6: */
}

.dark {
  --boxColor: var(--brown);
  --fieldColor: var(--white);
  --valueColor: var(--white);
  --locColor: var(--yellow);
  --tempColor: var(--white);
  --g1: var(--gColor3);
  --g2: var(--gColor4);
  --g3: var(--gColor5);
  --btnText: var(--black);
  --btnColor: var(--orange);
  --btnBorderColor: var(--orange);
  --modalBg:var(--gColor3)
}

.light {
  --boxColor: var(--white);
  --fieldColor: var(--black);
  --valueColor: var(--grey);
  --locColor: var(--darkBrown);
  --tempColor: var(--black);
  --g1: var(--gColor1);
  --g2: var(--gColor2);
  --g3: var(--black);
  --btnText: var(--white);
  --btnColor: var(--primary);
  --btnBorderColor: var(--primary);
  --modalBg:var(--white);
}

@media (max-width: 576px) {
  .field {
    font-size: 1.25rem;
  }
  .value {
    font-size: 1.25rem;
  }
  #w-location {
    font-size: 1.75rem;
  }
}
@media (min-width: 576px) {
  .field {
    font-size: 1.25rem;
  }
  .value {
    font-size: 1.25rem;
  }
  #w-location {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .field {
    font-size: 1.5rem;
  }
  .value {
    font-size: 1.5rem;
  }
  #w-location {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  .field {
    font-size: 1.75rem;
  }
  .value {
    font-size: 1.25rem;
  }
  #w-location {
    font-size: 2.25rem;
  }
}
@media (min-width: 1200px) {
  #w-location {
    font-size: 2.5rem;
  }

}
@media (min-width: 1200px) {
  .w-box{
    padding: 20px;
  }
  
}
